@model IEnumerable<IceCreamProject.Models.IceCreamFlavor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
      if (HelpStaticClass.IsAdmin)
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
      <link rel="stylesheet" type="text/css" href="~/css/Predict.css" />
      <style>
          
      </style>

</head>
<h1>Our tastes:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavour)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="width:70px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>

        </tr>
}
    </tbody>
</table>




